<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanmao.core.mapper.CouponDAO">
    <sql id="Base_List_Where">
        is_deleted = 'N'
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="discount != null">
            AND discount = #{discount}
        </if>
        <if test="ruleCode != null">
            AND rule_code = #{ruleCode}
        </if>
        <if test="effectiveDate != null">
            AND effective_date = #{effectiveDate}
        </if>
        <if test="expiryDate != null">
            AND expiry_date = #{expiryDate}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="offset != null">
            <if test="limit != null">
                LIMIT #{offset},#{limit}
            </if>
        </if>
    </sql>
    <select id="selectList" resultType="com.lanmao.core.dataobject.CouponDO">
        SELECT *
        FROM lanmao_coupon
        <include refid="Base_List_Where"/>
    </select>
    <select id="countSelectList" resultType="java.lang.Integer">
        SELECT count(*)
        FROM lanmao_coupon
        <include refid="Base_List_Where"/>
    </select>
</mapper>